@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Galindo&family=Oldenburg&display=swap");

:root {
    --background: #574b60;
    --background-darker: hsl(274, 12%, 20%);
    --accents: #eaf0ce;
    /* --btn-main: #F18805; */
    --btn-main: #ff1053;
    --wrapper-active: rgba(220, 20, 60, 1);
    --wrapper-inactive: rgba(0, 0, 0, 0.4);
}

html,
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Galindo", serif;
    background-color: var(--background);
    color: white;
}

h1,
h2,
h3 {
    padding: 0px;
    margin: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}

a {
    all: unset;
}
a:hover {
    cursor: pointer;
    color: var(--btn-main);
}

form {
    width: 100%;
    display: flex;
    gap: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    all: unset;
    width: 90%;
    height: 1.4rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--background-darker);
    color: white;
    border-radius: 8px;
}
#search-bar {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 0px;
}
#search-icon {
    height: 1.4rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.6rem;
    background-color: var(--background-darker);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #a19ea4;
    color: var(--btn-main);
}

.text-error {
    font-size: 0.9rem;
    height: 0.9rem;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.spacer-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.center {
    align-items: center;
    justify-content: center;
}

.notification {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 2rem;
    background-color: var(--accents);
    border-radius: 8px;
    color: var(--background-darker);
    opacity: 0;
    font-size: x-large;
    transition: all 0.4s ease-in-out;
}

.index-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#auth-btn-wrapper {
    align-items: center;
    justify-content: center;
}
.auth-link {
    color: var(--btn-main);
    cursor: pointer;
    transition: all 0.1s ease-in-out;

}
.auth-link:hover {
    color: var(--accents);
    text-decoration: underline;
}
.btn-main,
.btn-main-invert {
    all: unset;
    min-height: 38.4px;
    min-width: 38.4px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 8px;
    text-align: center;
    font-size: x-large;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    color: #481620;
    background-color: var(--btn-main);
    user-select: none;
    transition: all 0.3s ease-in;
}
.btn-main:hover,
.btn-main-invert,
input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--background-darker);
    color: var(--btn-main);
}

.btn-back {
    height: 100%;
    min-width: 46px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    background-color: var(--btn-main);
    color: var(--background-darker);
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in;
    user-select: none;
}
.btn-back:hover {
    cursor: pointer;
    background-color: var(--background-darker);
    color: var(--btn-main);
}

.landing-page-img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.heart {
    height: 2.5rem;
    display: flex;
    align-items: center;
    user-select: none;
}

.heart h1 {
    font-size: xx-large;
    color: var(--btn-main);
}

.btn-main-invert {
    min-height: 38.4px;
    min-width: 38.4px;
    max-height: 38.4px;
    max-width: 38.4px;
    aspect-ratio: 1/1;
    background-color: var(--background-darker);
    color: var(--btn-main);
}
.btn-main-invert:hover {
    background-color: var(--btn-main);
    color: var(--background-darker);
}

#start-flashing-btn {
    font-size: xx-large;
}

.update-text {
    transition: all;
    transition-duration: 2s;
}
.transparent {
    color: transparent;
}

.menu {
    width: 4rem;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;
    background-color: var(--background-darker);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}
.menu a {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 0.5rem;
    padding: 1rem 0rem;
    font-size: larger;
    color: var(--accents);
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.menu-btn {
    width: 2.5rem;
    height: 2.5rem;
}
.menu-btn img {
    width: 100%;
    height: 100%;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
.menu-btn img:hover {
    scale: 1.2;
}

#menu-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1.5rem;
}
.user-image-menu {
    width: 2.8rem;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--accents);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
.user-image-menu:hover {
    scale: 1.1;
    cursor: pointer;
}
#menu-user a {
    box-shadow: none;
    justify-content: center;
    width: 5rem;
}
.menu .column {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0rem;
}

#site-logo-wrapper {
    padding: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: none;
    background-color: transparent;
}
#site-logo-wrapper:hover > #site-logo {
    scale: 1.05;
}
#site-logo {
    width: 4rem;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
#site-title {
    width: 100%;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    font-size: larger;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    background-color: transparent;
    color: var(--accents);
    box-shadow: none;
}

.site {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(public/layered-waves.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}

.content-wrapper {
    /* padding-left: 16rem; */
    width: 90%;
    min-width: 320px;
    height: 90%;
    display: flex;
    gap: 0.5rem;
}

.title-main {
    font-size: 6rem;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    color: var(--btn-main);
}

#screen-title {
    text-wrap: none;
    word-wrap: none;
}

#sort-select {
    all: unset;
    width: 10rem;
    padding: 0.5rem 0rem;
    color: var(--btn-main);
    background-color: var(--background-darker);
    text-align: center;
    border-radius: 8px;
    user-select: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    transition: all;
    transition-duration: 0.5s;
}
#sort-select:hover {
    cursor: pointer;
    color: var(--background-darker);
    background-color: var(--btn-main);
}

.list-wrapper {
    height: 100%;
    /* width: 90%; */
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.4);
    transition: all;
    transition-duration: 300ms;
}
.list-wrapper::-webkit-scrollbar {
    display: none;
}
#link-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
    border-radius: 16px;
    transition: all 0.3s ease-in;
}

.link-wrapper,
.link-wrapper-own {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 256px; */
    height: 180px;
    border-radius: 8px;
    background-color: #c0c5c1;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
.link-wrapper {
    background-color: green;
}
.link-wrapper:hover,
.link-wrapper-own:hover {
    cursor: pointer;
    background-color: var(--background);
}

.link,
.link-own {
    all: unset;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: x-large;
    text-wrap: wrap;
    color: var(--background-darker);
    user-select: none;
    transition: all 0.3s ease-in;
}
.link:hover {
    color: var(--btn-main);
}

#set-name-input {
    all: unset;
    width: 80%;
    font-size: xx-large;
    color: var(--btn-main);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding-left: 1rem;
}

#card-create-wrapper {
    width: 90%;
}
#card-front-input,
#card-back-input {
    width: 50%;
}
#card-create-btn {
    width: 25%;
}
#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition: all 0.5s;
}
#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    transition: all 0.5s;
}
.btn-controls {
    width: 100%;
}
#card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.5s;
}
#btn-create {
    width: 100%;
}

.input-wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}
#text-back,
#text-front {
    width: 100%;
    font-size: medium;
    padding: 0.5rem 1rem;
}

#input-options {
    position: absolute;
    top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--background-darker);
}
#input-options span {
    width: 95%;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem;
    border-radius: 8px;
    color: white;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#input-options span:hover {
    background-color: var(--background);
    cursor: pointer;
}

.card-wrapper {
    max-width: 980px;
    width: 90%;
    aspect-ratio: 16/9;
    height: auto;
    display: none;
    flex-direction: column;
    gap: 4rem;
    background-color: transparent;
    perspective: 1000px;
}
.card-wrapper:hover {
    cursor: pointer;
    scale: 1.05;
}

.card {
    position: relative;
    border-radius: 64px;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    /* transition-timing-function: ease-in; */
    transform-style: preserve-3d;
}


.card-front,
.card-back,
.card-front-edit,
.card-back-edit {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    border-radius: 32px;
    color: white;
    user-select: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-front,
.card-front-edit {
    background-color: #0075a2;
}
.card-back,
.card-back-edit {
    transform: rotateY(180deg);
    background-color: #d55672;
}

.card-front p,
.card-back p,
.card-front-edit p,
.card-back-edit p {
    width: 90%;
    text-wrap: wrap;
    text-align: center;
}
.card-text {
    font-size: medium;
}

#flash-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 0rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
}

#index-btn-wrapper::-webkit-scrollbar {
    display: none;
}
#index-btn-wrapper {
    width: 50%;
    height: 52px;
    justify-content: start;
    overflow: scroll;
    background-color: var(--background-darker);
    border-radius: 8px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#btn-forward, #btn-backward {
    min-height: 100%;
    min-width: 100%;
}
.index-btn,
.index-btn-active {
    /* all: unset; */
    min-width: 3rem;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    border-radius: 50%;
    border: 2px solid var(--background-darker);
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    user-select: none;
}
.index-btn:hover,
.index-btn-active:hover {
    cursor: pointer;
    color: var(--btn-main);
    background-color: var(--background-darker);
}
.index-btn-active {
    background-color: var(--btn-main);
    color: var(--background-darker);
}
.index-btn-active:hover {
    border: 2px solid var(--btn-main);
}

.btn-control-wrapper {
    min-width: 52px;
    height: 52px;
    display: flex
}

@keyframes wiggle {
    0% { rotate: 0deg; }
    25% { rotate: -1deg; }
    80% { rotate: 1deg; }
}
.wiggle {
    animation: wiggle 0.1s infinite;
}

@media only screen and (max-width: 600px) {
    .menu {
        display: none;
    }
    #link-list {
        grid-template-columns: repeat(1, 1fr);
    }
    #screen-title {
        display: none;
    }
    #controls {
        flex-direction: column;
    }
    #set-name-input {
        width: 80%;
    }
    #info {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .menu {
        display: none;
    }
    #link-list {
        grid-template-columns: repeat(2, 1fr);
    }
    #screen-title {
        display: none;
    }
    #controls {
        flex-direction: column;
    }
    #info {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #info {
        display: flex;
    }
    #link-list {
        padding: 1.5rem;
        gap: 1.5rem;
    }
    #controls {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    #card-info {
        flex-direction: row;
    }
    #btn-create {
        width: auto;
    }
    #start-flashing-btn {
        min-width: 12rem;
    }
}

@media only screen and (min-width: 992px) {
    #link-list {
        grid-template-columns: repeat(3, 1fr);

    }
    #screen-title {
        display: flex;
    }
    .card-text {
        font-size: xx-large;
    }
    #index-btn-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    #link-list {
        grid-template-columns: repeat(4, 1fr);
    }

    #set-name-input {
        width: 50%;
    }
    #index-btn-wrapper {
        width: 30%;
    }
}

@media only screen and (min-width: 1600px) {
    #link-list {
        grid-template-columns: repeat(5, 1fr);
    }
}
